# .env.example

DATABASE_URL="postgres://username:password@host:port/database_name"
LOCAL_DATABASE_URL="postgresql://dave:root@localhost:5432/swiichdb"
PORT=3001
JWT_SECRET="your_jwt_secret"
EMAIL_API_KEY="your_email_api_key"
POSTGRES_USER="daverlover"
POSTGRES_PASSWORD="WP0YSEHsxuw1"
POSTGRES_DB="my_db"
REDIS_URL="rediss://default:c98b022329ac432cbcfb514e30ae98b9@usw1-tough-hornet-33809.upstash.io:33809"